Cython==0.29.15
django_multiselectfield==0.1.12
numpy==1.19.0
Django==3.0.6
cryptography==2.8
lxml==4.5.0
keyring==21.1.0
brotli==1.0.7
django_crispy_forms==1.9.2
ipaddr==2.2.0
ordereddict==1.1
protobuf==3.13.0
pyOpenSSL==19.1.0
wincertstore==0.2
